<div class="container-fluid">
  
  <h2>Registration form</h2>
  <h3>{{loader}}</h3>
{{RegistrationForm.value | json}}
  <form [formGroup]='RegistrationForm'>
    
  <div class="form-group">
      <label>Username</label>
      <input [class.is-invalid]='userName.invalid && userName.touched' 
             name="userName" formControlName="userName" type="text" class="form-control" >

      <div class="text-danger" *ngIf='userName.invalid && userName.touched'>
          <div class="text-danger" *ngIf='userName.errors?.minlength'>
            min length should be 3 characteres
          </div>
          <div class="text-danger" *ngIf='userName.errors?.required'>
            name is required
          </div>
          <div class="text-danger" *ngIf='userName.errors?.forbiddenName'>
            name is forbiddenName
          </div>
      </div>
    </div>
    
    <div class="form-group">
      <label>Email</label>
      <input [class.is-invalid]='email.invalid && email.touched' formControlName='email' type="email" class="form-control" >

      <div class="text-danger" *ngIf='email.invalid && email.touched'>
        <small *ngIf='email.errors?.required'>email is required</small>
        <small *ngIf='email.errors?.email'>not valid</small>
      </div>
    </div>
  
  
    <div class="form-group">
      <label>Password</label>
      <input [class.is-invalid]='password.invalid && password.touched' formControlName='password' type="password" class="form-control" >

      <div class="text-danger" *ngIf='password.invalid && password.touched'>
        <small *ngIf='password.errors?.required'> pass is required</small>
        <small *ngIf='password.errors?.invalidPass && !password.errors?.pe'>pass should be at least 5 char long</small>
      </div>
    </div>
  
    <div class="form-group">
      <label>Confirm Password</label>
      <input formControlName='confirmPassword' type="password"  class="form-control">
    </div>
  
    <div formGroupName='address'>
      <div class="form-group">
        <label>Upozila</label>
        <input  formControlName="upozila" type="text" class="form-control" >
      </div>
      
    
      <div class="form-group">
        <label>District</label>
        <input formControlName='district' type="text" class="form-control" >
      </div>
    
      <div class="form-group">
        <label>Division</label>
        <input formControlName='division' type="text"  class="form-control">
      </div>
    </div>
    <button type="submit" [disabled]='RegistrationForm.invalid' class="btn btn-primary">Submit</button>
    <button type="button" (click)='loadApiData()' class="btn btn-secondary ml-2">Load api data</button>
  </form>
</div>